<div
  class="op-wp-single-card"
  data-test-selector="op-wp-single-card"
  data-tour-selector="op-wp-single-card"
  [attr.data-qa-draggable]="draggable || undefined"
  [attr.data-qa-selected]="selected || undefined"
  [ngClass]="cardClasses()"
  [title]="cardTitle()"
  (click)="cardClicked.emit({ workPackageId: workPackage.id, event: $event })"
  (dblclick)="cardDblClicked.emit({ workPackageId: workPackage.id, event: $event })"
  (contextmenu)="cardContextMenu.emit({ workPackageId: workPackage.id, event: $event })"
>

  <div class="op-wp-single-card--highlighting"
       [ngClass]="cardHighlightingClass(workPackage)">
  </div>

  <div class="op-wp-single-card--card-actions">
    <div class="op-wp-single-card--inline-buttons hidden-for-mobile"
         data-test-selector="op-wp-single-card--inline-buttons">
      <button
        type="button"
        class="spot-link op-wp-single-card--details-button op-wp-single-card--card-action"
        data-test-selector="op-wp-single-card--details-button"
        *ngIf="!isNewResource(workPackage) && showInfoButton"
        [title]="text.detailsView"
        (click)="emitStateLinkClicked($event, workPackage, true)">
        <op-icon icon-classes="icon3 icon-info2"></op-icon>
      </button>

      <button
        class="spot-link op-wp-single-card--inline-cancel-button op-wp-single-card--card-action"
        data-test-selector="op-wp-single-card--inline-cancel-button"
        *ngIf="isNewResource(workPackage) || showRemoveButton"
        [class.-show]="isNewResource(workPackage)"
        [title]="text.removeCard"
        (click)="onRemoved(workPackage)">
        <op-icon icon-classes="icon-context icon-close"></op-icon>
      </button>

      <op-icon
        *ngIf="disabledInfo && disabledInfo.text.length > 0"
        [attr.data-tooltip]="disabledInfo.text"
        class="-multiline op-wp-single-card--card-action op-wp-single-card--card-action_closed"
        [ngClass]="'tooltip--' + disabledInfo.orientation"
        icon-classes="icon-context icon-not-supported">
      </op-icon>
    </div>
  </div>

  <edit-form [resource]="workPackage"
             [inEditMode]="isNewResource(workPackage)"
             *ngIf="isNewResource(workPackage)">
    <div class="op-wp-single-card-content -new">
      <op-editable-attribute-field [resource]="workPackage"
                                   [wrapperClasses]="'work-packages--type-selector'"
                                   [fieldName]="'type'"
                                   class="op-wp-single-card-content--type">
      </op-editable-attribute-field>
      <op-editable-attribute-field [resource]="workPackage"
                                   fieldName="subject"
                                   class="op-wp-single-card-content--subject -bold">
      </op-editable-attribute-field>
    </div>
  </edit-form>

  <div *ngIf="!isNewResource(workPackage)"
       class="op-wp-single-card--content">

    <span
      class="op-wp-single-card--content-project-name"
      [ngClass]="{'op-wp-single-card--content-project-name_hideable': showInfoButton || showRemoveButton}"
    >
      - {{wpProjectName(workPackage)}}
    </span>
    <a class="op-wp-single-card--content-id"
       [href]="fullWorkPackageLink(workPackage)"
       [ngClass]="uiStateLinkClass"
       (click)="emitStateLinkClicked($event, workPackage)"
    >
      #{{workPackage.id}}
    </a>

    <span class="op-wp-single-card--content-subject-line">
      <span
        *ngIf="showAsInlineCard && showStartDate"
        class="op-wp-single-card--content-inline-date"
      >
         <display-field
           [resource]="workPackage"
           [displayFieldOptions]="{ writable: false, dateFormat: 'MMM DD, YYYY', placeholder: '' }"
           fieldName="startDate"
           containerType="single-view">
        </display-field>
         -
      </span>

      <span
        *ngIf="!showAsInlineCard && highlightingMode !== 'type'"
        [textContent]="wpTypeAttribute(workPackage)"
        class="op-wp-single-card--content-type"
        data-test-selector="op-wp-single-card--content-type"
        [ngClass]="typeHighlightingClass(workPackage)"
      ></span>

      <span
        class="op-wp-single-card--content-subject"
        data-test-selector="op-wp-single-card--content-subject"
        [textContent]="wpSubject(workPackage)"
      ></span>

      <span
        *ngIf="showAsInlineCard && showEndDate"
        class="op-wp-single-card--content-inline-date"
      >
        -
        <display-field
         [resource]="workPackage"
         [displayFieldOptions]="{ writable: false, dateFormat: 'MMM DD, YYYY', placeholder: '' }"
         fieldName="dueDate"
         containerType="single-view">
        </display-field>
      </span>
    </span>

    <img *ngIf="this.cardCoverImageShown(workPackage) && !showAsInlineCard"
         [src]="this.bcfSnapshotPath(workPackage)"
         class="op-wp-single-card--content-cover-image">
    <div class="op-wp-single-card--content-status-baseline">
      <wp-status-button *ngIf="showStatusButton"
                        [workPackage]="workPackage"
                        [small]="true"
                        class="op-wp-single-card--content-status"
      >
      </wp-status-button>
      <span
        *ngIf="baselineIcon(workPackage) !== ''"
        class="spot-icon spot-icon_1 spot-icon_flex op-wp-single-card--content-baseline"
        [ngClass]="baselineMode==='added' ? 'spot-icon_flex spot-icon_arrow-in op-table-baseline--icon-added' : (baselineMode==='removed' ? 'spot-icon_arrow-out op-table-baseline--icon-removed' : 'spot-icon_delta-triangle op-table-baseline--icon-changed')"
        title="{{ baselineMode==='added' ? text.baseLineIconAdded : (baselineMode==='removed' ? text.baseLineIconRemoved : text.baseLineIconChanged) }}"
      >
      </span>

    </div>
    <op-principal
      *ngIf="workPackage.assignee"
      [principal]="workPackage.assignee"
      [hideName]="true"
      [link]="false"
      size="mini"
      class="op-wp-single-card--content-assignee"
      data-test-selector="op-wp-single-card--content-assignee"
    ></op-principal>
    <display-field
      *ngIf="!showAsInlineCard"
      [resource]="workPackage"
      [displayFieldOptions]="{ writable: false, dateFormat: 'MMM DD, YYYY', placeholder: '' }"
      [displayClass]="combinedDateDisplayField"
      fieldName="dueDate"
      class="op-wp-single-card--content-dates"
      containerType="single-view">
    </display-field>
  </div>

  <style>
    .daily-planned-hours {
      display: flex;
      justify-content: space-between;
      min-height: 5px; 
      align-items: flex-end;
    }

    .daily-planned-hours .section {
      flex: 1;
      /* border: 1px solid black; */
      display: flex;
      flex-direction: column;
      justify-content:  space-between;
      align-items: center;

      border: 1px solid #000;
      padding: 1px;
      min-width: 15px;
      min-height: 15px;
      background-color: #7abb90;
    }

    /* 子块容器样式 */
    .sub-container {
        /* 平均分配父容器的宽度 */
        flex: 1;
        display: flex;
        /* 子块在子容器内水平居中 */
        justify-content: center;
        /* 子块在子容器内垂直居中 */
        align-items: center;
    }

    /* 子块样式 */
    .child-block {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 1px;
        /* min-width: 25px; */
        min-width: 60px;
        min-height: 15px;
        background-color: #7abb90;
        /* 使用 flexbox 布局让内容在子块内居中 */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-container {
      padding: 3px;
      display: flex;
      justify-content: center;
        align-items: center;
      min-height: 5px; 
      /* align-items: flex-end; */
    }    

    .allocate-button {
            /* 基本样式 */
            display: inline-block;
            padding: 2px 3px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 2px;
            background-color: #f0f0f0;
            color: #333;
            transition: background-color 0.3s ease;
        }

        .allocate-button:hover {
            background-color: #e0e0e0;
        }

        .allocate-button:active {
            background-color: #d0d0d0;
        }

    span {
      font-size: 14px;
    }
  </style>

  <!-- <div *ngIf="calcDisplayPlannedHours()?.length > 0" class="daily-planned-hours">
      <div *ngFor="let hours of calcDisplayPlannedHours(); let i = index"  class="section">
       <span> {{  hours + 'h' }} </span>
      </div>
  </div> -->

  <div *ngIf="calcDisplayPlannedHours()?.length > 0" class="daily-planned-hours">
      <div *ngFor="let hours of calcDisplayPlannedHours(); let i = index"  class="sub-container">
       <div class="child-block"> {{  hours + 'h' }} </div>
      </div>
  </div>


  <!-- <div *ngIf="displayPlannedHours?.length > 0" class="daily-planned-hours">
    <div *ngFor="let hours of displayPlannedHours; let i = index" class="section">
      <span> {{  hours + 'h' }} </span>
    </div>
  </div> -->

  <!-- <ng-template #cachedHours let-hoursToDisplay="hours">
    <div *ngIf="hoursToDisplay?.length > 0" class="daily-planned-hours">
      <div *ngFor="let hours of hoursToDisplay; let i = index" class="section">
        <span> {{  hours + 'h' }} </span>
      </div>
    </div>
  </ng-template>

  
  <ng-container *ngIf="(calcDisplayPlannedHours() as hoursToCache) !== null; then cachedHours; else noHours"></ng-container>
  
  <ng-template #noHours>
    <p>没有有效的工作时长数据。</p>
  </ng-template> -->

<!-- 
  
  <ng-container *ngTemplateOutlet="cachedHours; context: { $implicit: calcDisplayPlannedHours() }"></ng-container> -->


  <div *ngIf=" windowStartDate && windowEndDate"  class="button-container">
      <button
      type="button"
      class="spot-link op-wp-single-card--card-action allocate-button"
      data-test-selector="op-wp-single-card--planned-hours-button"
      title="分配工时"
      (click)="showPlannedHours()">
      <op-icon icon-classes="icon3 icon-clock"></op-icon>
      分配工时
    </button>
  </div>

  <!-- <div class="card-content">
    <div class="section">
      <span>3h</span>
    </div>
    <div class="section">
      <span>3h</span>
    </div>
    <div class="section">
      <span>2h</span>
    </div>
  </div>   -->



</div>
