<op-view-select
  [projectId]="projectId"
  [menuItems]="menuItems"
  baseRoute="resource_planner.page.show"
  viewType="ResourcePlanner"
  class="op-sidebar--body"
>
</op-view-select>

<div class="op-sidebar--footer">
  <button
    *ngIf="(canAddResourcePlanner$ | async)"
    class="button -primary -expand"
    [uiSref]="createButton.uiSref"
    [uiParams]="createButton.uiParams"
    [title]="createButton.title"
    data-test-selector="resource-planner--create-button"
  >
    <span class="spot-icon spot-icon_add"></span>
    <span [textContent]="createButton.text"></span>
  </button>
</div>
